body
{
	background:rgb(250,150,0);
}
#calc-contain{
	position:relative;
	left:400px;
	width:400px;
	border:2px solid black;
    border-radius:50 px 20px ;
    padding:20px 20px 50px 20px;
    background-color: burlywood;
}
#jss{
	margin-top: 25px;
	font-size: 20px;
	font-weight: bolder;
	background-color: floralwhite;
	color: green;
}
input[type=button]
{
	background: gray;
	width:20%;
	font-size: 20px;
	font-weight: 900;
	border-radius: 70px;
	margin-left:13px ;
	margin-top: 10px;
}
input[type=button]:hover{
	background-color: lawngreen;
	color:white;
}
input[type=text]{
	dispaly:block;
	width:90%;
	marrgin:12 px auto;
	font-size: 20px;
	padding: 10px;
	box-shadow: -2px black insets;

}